<h1>Welome to Playlister!</h1>

<h3>Menu</h3>
<ul>
  <li><a href="/songs/new">Make a New Song</a></li>
  <li><a href="/songs">See All the Songs</a></li>
  <li><a href="/artists">See All the Artists</a></li>
  <li><a href="/artists">See All the Genres</a></li>
<<<<<<< HEAD
</ul>
=======
</ul>
>>>>>>> 29a1feae45ad8d7725acb51233b4cf89c5571027
